<html>
<head>
	 <!-- META -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="Robots" content="INDEX, FOLLOW" />
    <meta name="description" content="" />
    
    <!-- TITLE -->
    <title>Unclean</title>
    
    <!-- CANON -->
    <link rel="canonical" href="http://www.bronco.co.uk/our-ideas/ungagged/">
    
    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" media="screen" />  
       
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
</head>

<body>

<div id="main">
	<form id="urls" method="post">
	<p><legend>Page Checker &raquo;</legend><label>URL</label><input type="url" name="page_url" placeholder="http://www.bronco.co.uk/"><label>Linking Domain</label><input type="text" name="link_domain" placeholder="example.com"><input type="submit" value="Submit" ></p>
	</form>
	<a href="http://www.bronco.co.uk" target="_blank"><img id="logo" src="static/bronco.svg" alt="Bronco"/></a>
	<div id="results">
        <h1>Welcome to Unclean</h1>
        <p> 
        The team here at Bronco want to ensure that all backlinks are quality and pass sufficient requirements once live; ensuring link equity is passed.
        </p>
        <p>
        This nifty little tool allows us to conduct this test quickly and efficiently, and allows us to pinpoint any downfalls once the link is obtained, giving us the opportunity to rectify the issue and maintain a high standard of back linking to any specific site.
        </p>
        <h1>How to use this tool</h1>
        <p>
        To use the tool, you simply need to paste in the URL of the page where the link is placed the URL box, then place the linking domain in its respective box then click Submit – Easy! The tool will then conduct the necessary checks and feed them back to you in a simplistic and easily digestible format.
        </p>
        <h1>How to interpret the results?</h1>
        <p>
        This tool highlights some useful points to keep in mind when checking links. Ultimately, the perfect outcome would be to have all green ticks returned, this meaning that the link would appear to be able to pass link equity and accessible to Google.
        </p>
        <p>
        Things to look out for would be if Google's Cached copy is different to the Live site, for example, if the cache was showing a nofollow attribute in the <head> section of the page but it wasn't found on the live site, it <u><strong>might</strong></u>* mean there is some cloaking going on - a manual review, from here, might ensue.
        </p>
        <h1>Disclaimer</h1>
        <p>
        This tool was put together as a last minute addition (days before) to Dave's 2016 talk at <a target="_blank" href="http://www.ungagged.com/speaker/dave-naylor/">UnGagged</a>. While we think the tools great and very useful, it's obviously not our finest work!
        </p>
        <p>
            *all tools are only as good as the person using them - manual checks are always recommended.
        </p>
    </div>
</div>

<!-- JS -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/static/jsOnload.js"></script>

</body>
</html>